*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    cursor: default;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
